body {
  background-color: rgb(240, 246, 250);
  margin: 10vh 10vw;
}

p {
  margin: 0;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

.page-header {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 40px;
}

.project-summary-container {
  margin-bottom: 10vh;
}

.journal-entry-container {
  border-style: solid;
  border-color: rgb(203, 213, 225);
  border-width: 1px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.text-journal-paragraph {
  white-space: pre-line;
  /* reads \n as newline */
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.journal-entry-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgba(201, 234, 255, 0.7);
  transition: background-color 0.2s ease;
}

.journal-entry-header:hover {
  background-color: rgba(201, 234, 255, 1);
}

.toggle-journal-entry-button {
  background-color: transparent;
  height: 28px;
  border: none;
  font-family: inherit;
  margin-right: 10px;
  cursor: pointer;
}

.journal-entry-title {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
}

.journal-entry-content {
  padding: 10px;
  background-color: rgba(201, 234, 255, 0.3);
}